body {
    background-color:aqua;
    color: gold;
    font-family: "Anton", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    
}
button{

    background-color:aquamarine ;
    color:gold;
    font-family:"Anton", sans-serif ;






}



