body {
    background-color:rgb(64, 6, 170);
    color: gold;
    font-family: "Anton", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    
}
button{

    background-color:rgb(224, 28, 241) ;
    color:gold;
    font-family:"Anton", sans-serif ;






}



